html, body {
	font-family: 'Open Sans', 'Helvetica', Arial, sans-serif;
	color: #dee8ed;
	background: #354046;
}

body {
	margin: auto;
	width: 600px;
}

a {
	color: #0078A0;
}

.content {
	text-align: center
	padding: 0 15% 20px;
}

.content h1 {
	text-transform: uppercase;
	font-weight: bold;
	margin: 20px 0;
}

.content form {
	padding: 10px;
	width: 300px;
	margin: 0 auto;
}

input, button {
	width: 100%;
	border: 1px solid #31444E;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.33);
	color: #107394;
	background: white;
	margin-bottom: 15px;
	padding: 10px 15px;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

button {
	display: inline;
	width: auto;
}

label {
	display: block;
	text-align: center;
	margin: 10px 0;
}

.events > div > span {
	font-style: italic;
}

.content .timeout {
	display: none;
}

.events > div {
	background: #3e6479;
	margin: 10px 0;
	padding: 20px;
}

strong {
	color: #1ea5f0;
}
